@model IEnumerable<TravelAgencyDomain.Model.Hotel>

@{
    ViewData["Title"] = "Готелі";
}

<h1>Готелі</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Додати новий готель</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.HotelId" class="btn btn-sm btn-outline-primary">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.HotelId" class="btn btn-sm btn-outline-info">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.HotelId" class="btn btn-sm btn-outline-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>